mixin sPersonalities(data)
	// start sPersonalities
	+b.SECTION.sPersonalities.section#sPersonalities&attributes(attributes)
		mixin item(i, name, year)
			.col-auto
				+e.item(href='#')
					+e.avatar
						+img('img/svg/avatar-empty.svg')
						if i
							+img(`img/avatar-${i}.jpg`)
					+e.content
						h6!= name
						p!= year
		mixin wrap(letter)
			+e.wrap
				span!= letter
				+e.row.row
					block
		+wrap('А')
			+item(2, 'Адодуров<br>Василий Евдокимович', '1845–1929гг.')
			+item(3, 'Апресян<br>Василий Евдокимович', '1845–1929гг.')
		+wrap('Б')
			+item(4, 'Бодуэн де Куртенэ<br>Иван Александрович', '1845–1929гг.')
			+item(5, 'Буслаев<br>Фёдор Иванович', '1818–1897гг.')
			+item(6, 'Бахтин<br>Михаил Михайлович', '1895–1975гг.')
		+wrap('В')
			+item(7, 'Виноградов<br>Виктор', '1845–1929гг.')
			+item('', 'Меньшиков<br>Николай Яковлевич', '1711–1765гг.')
		+wrap('Д')
			+item(8, 'Даль<br>Владимир Иванович', '1801–1872гг.')
		+wrap('Е')
			+item(9, 'Емельянов<br>Семён Андреевич', '1711–1765гг.')
			+item(10, 'Еленин<br>Михаил Васильевич', '1711–1765гг.')
			+item(11, 'Ешикин<br>Николай Яковлевич', '1711–1765гг.')
			+item(12, 'Еровой<br>Александр Николаевич', '1832–1893гг.')
			+item(13, 'Еперьев<br>Дмитрий Сергеевич', '1906–1999гг.')
		+wrap('Ж')
			+item(9, 'Железняк<br>Семён Андреевич', '1711–1765гг.')
			+item(10, 'Жуков<br>Михаил Васильевич', '1711–1765гг.')
		+wrap('З')
			+item(12, 'Заведов<br>Александр Николаевич', '1832–1893гг.')
			+item(13, 'Зыбов<br>Дмитрий Сергеевич', '1906–1999гг.')
		+wrap('К')
			+item(14, 'Кононов<br>Андрей Николаевич', '1711–1765гг.')
		+wrap('Л')
			+item(10, 'Ломоносов<br>Михаил Васильевич', '1711–1765гг.')
			+item(13, 'Лихачёв<br>Дмитрий Сергеевич', '1906–1999гг.')
			+item(10, 'Ломоносов<br>Михаил Васильевич', '1711–1765гг.')
			+item(9, 'Ломаченко<br>Николай Яковлевич', '1711–1765гг.')
			+item(3, 'Львов<br>Николай Яковлевич', '1711–1765гг.')
		+wrap('Н')
			+item(9, 'Новгородов<br>Семён Андреевич', '1711–1765гг.')
		+wrap('П')
			+item(15, 'Потебня<br>Александр Афанасьевич', '1835–1891гг.')
		+wrap('Р')
			+item(10, 'Рыков<br>Михаил Васильевич', '1711–1765гг.')
			+item(13, 'Романов<br>Дмитрий Сергеевич', '1906–1999гг.')
			+item(10, 'Ромашкин<br>Михаил Васильевич', '1711–1765гг.')
		+wrap('С')
			+item(9, 'Сысоев<br>Николай Яковлевич', '1711–1765гг.')
			+item(3, 'Салтыков<br>Николай Яковлевич', '1711–1765гг.')
		+wrap('Т')
			+item(13, 'Терешков<br>Дмитрий Сергеевич', '1906–1999гг.')
			+item(10, 'Туев<br>Михаил Васильевич', '1711–1765гг.')
			+item(16, 'Томаков<br>Михаил Васильевич', '1711–1765гг.')
		+wrap('У')
			+item(16, 'Томаков<br>Михаил Васильевич', '1711–1765гг.')
			+item(3, 'Углов<br>Николай Яковлевич', '1711–1765гг.')
		+wrap('Ф')
			+item(10, 'Фомченков<br>Михаил Васильевич', '1711–1765гг.')
		+wrap('Х')
			+item(16, 'Хиль<br>Михаил Васильевич', '1711–1765гг.')
		+wrap('Ц')
			+item(5, 'Цыпляев<br>Фёдор Иванович', '1818–1897гг.')
			+item(17, 'Цаляев<br>Михаил Михайлович', '1895–1975гг.')
		+wrap('Ш')
			+item(16, 'Шёгрен<br>Николай Яковлевич', '1711–1765гг.')
			+item(3, 'Шавелин<br>Николай Яковлевич', '1711–1765гг.')
		+wrap('Щ')
			+item(18, 'Щедров<br>Александр Николаевич', '1832–1893гг.')
		+wrap('Э')
			+item(12, 'Энгельгардт<br>Александр Николаевич', '1832–1893гг.')
	// end sPersonalities