mixin sAnnotation(data)
	// start sAnnotation
	+b.SECTION.sAnnotation.section#sAnnotation&attributes(attributes)
			+b.section-title
				h2 Аннотация
				p Представленная монография была написана Мерлом Фэйнсодом, профессором Гарвардского университета, известным историком, стоявшим у&nbsp;истоков формирования западной советологии. Она написана на&nbsp;базе &laquo;Смоленского архива&raquo;, который после Второй мировой войны находился в&nbsp;Национальном архиве США в результате его обнаружения американскими военнослужащими в&nbsp;Баварии в&nbsp;1945&nbsp;г. Архивные материалы, на основе которых написана монография, охватывают период с&nbsp;1917 до&nbsp;конца 1930-х г.&nbsp;и&nbsp;представляют собой директивы из&nbsp;Москвы в&nbsp;Смоленск, ответы на&nbsp;них из&nbsp;Смоленска в&nbsp;Москву, писем советских граждан во&nbsp;власть, протоколы заседаний партийных и&nbsp;комсомольских комитетов, доклады, переписки номенклатуры, протоколы заседаний органов управления, документы органов госбезопасности, прокуратуры, судов и&nbsp;милиции, затрагивающие наиболее важные сферы жизни советского общества. Эта знаменитая книга М.&nbsp;Фэйнсода вышла из печати в&nbsp;1958&nbsp;г., а&nbsp;на&nbsp;русском языке она была впервые опубликована в&nbsp;1995&nbsp;г. Именно это издание представлено перед читателями. Книга М. Фэйнсода посвящена изучению истории власти и&nbsp;населения Смоленской области в&nbsp;1920-1930-е г. Отдельного внимания заслуживают изыскания автора в&nbsp;вопросе о&nbsp;взаимоотношениях региональной власти (Смоленска) и&nbsp;центральной (Москвы).
			+e.row.row
				mixin item(type, title, text)
					.col-sm-6
						+e.wrap(href="#")
							+e.item
								+e.type!= type
								+e.title!= title
								+e.text!= text
							+e.pdf
								+icon('file-text')
								| PDF
				+item('Статья из книги', 'Отрывок о главном герое', 'Анастасия Александровна Гребняк')
				+item('Исследование', 'Эта знаменитая книга М. Фэйнсода', 'Анастасия Александровна Гребняк')
				+item('Статья из книги', 'Изыскания автора', 'Анастасия Александровна Гребняк')
				+item('Исследование', 'Отрывок о главном герое', 'Анастасия Александровна Гребняк')
			+soc()
				//- +item-sos('tg')
				//- +item-sos('vk')
	// end sAnnotation