// start .headerBlock
.headerBlock {
	text-align: center;
	color: #fff;
	&__text-wrap{
		display: flex;
		// justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: rem(24) rem(48);
	}
	&__arrow-wrap{
		margin-bottom: rem(16);
		width: rem(64);
		display: flex;
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(84);
		}
		.swiper-button-hand{
			position: static;
			color: #fff;
		}
		&--2 {
			margin-bottom: rem(35);
		}
	}
	.slider{
		&__title{
			margin-bottom: rem(8);
		}
		&__text{
			@include rfs(24px);
		}
		width: 100%;
		flex-grow: 1;
		&__img {
			margin-bottom: rem(8);
			img {
				width: 100%;
				max-width: 56px;
				border-radius: 74px;
			}
		}
		&__subtile {
			font-size: rem(12);
			opacity: .5;
			line-height: 1.33em;
			max-width: rem(276);
			margin-left: auto;
			margin-right: auto;
			margin-bottom: rem(24);
		}
		&__video-button {
			pointer-events: none;
			@include a-cent;
			width: rem(92);
			height: rem(92);
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba($color: #fff, $alpha: .4);
			img {
				margin-left: 5px;
			}
		}
		&__slide {
			&--video {
				cursor: pointer;
			}
		}
	}
	.slider--text-js{
		max-width: rem(514);
		// pb
		padding-bottom: 2rem;
		.swiper-slide{

			padding-bottom: 2rem;
		}
	}
	
	.swiper-pagination{
		position: relative;
		bottom: auto;
		height: 2px;
		max-width: rem(514);
		background-color: rgba($color: #fff, $alpha: .4);
		display: flex;
		.swiper-pagination-bullet{
			border-radius: 0;
			margin: 0;
			flex-grow: 1;
			height: 2px;
			background-color: transparent;
			position: relative;
			&::before{
				content: '';
				height: 300%;
				width: 100%;
				top: -100%;
				position: absolute;
			}
			&:first-child:after{
				content: '';
				height: 100%;
				position: absolute;
				top: 0;
				width: 100%;
				left: calc(var(--pagination-count, 0) * 100%);
				background-color: #fff;
				@include mt;
				pointer-events: none;
			}
		}
	}
	&--2 {
		.headerBlock {
			&__arrow-wrap {
				margin-bottom: rem(33.562);
			}
			&__text-wrap {
				@include media-breakpoint-down(lg) {
					order: 2;
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock

.slider--fade-js{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	.swiper-wrapper{
		min-height: 100%;
		flex-grow: 1;

	}
	.swiper-slide{
		height: auto;
	}
}
.swiper-scrollbar-drag{
	background-color: #fff;
	border-radius: 0;
	cursor: pointer;
	&::before{
		content: '';
		position: absolute;
		left: 0;
		top: -6px;
		height: 14px;
		width: 100%;
	}
}
.swiper-scrollbar{
	background-color: rgba($color: #fff, $alpha: .4);
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
	height: 2px;
}