mixin headerBlock(simpleSlider=false, imgCenter=false, name, title, date, text)
	// start headerBlock
	+b.headerBlock&attributes(attributes)
		.container.p-0
			.row.g-0
				.col-lg-6
					+b.slider--fade-js.swiper
						.swiper-wrapper
							- for (var x = 0; x < 3; x++)
								+e.slide.bg-wrap.swiper-slide
									if imgCenter
										+e.img-wrap(href="#" data-src="img/book-2.png" data-fancybox="gallery")
											.img-wrap-center
												+img("img/book-2.png")
									else
										+e.img-wrap
											+img("img/slide.jpg",'bg')
						if simpleSlider
							+e.control-wrap
								+arrow
								.swiper-scrollbar
				+e.text-wrap.bg-danger.col-lg-6
					if simpleSlider
						.section-title-simple
							+e.title!= name
							+e.text.h2!= title
							+e.subtext!= text
							+e.date!= date
					else
						+e.arrow-wrap
							+arrow
						+b.slider--text-js.swiper
							.swiper-wrapper
								- for (var x = 0; x < 3; x++)
									+e.slide.swiper-slide
										.section-title--js2
											+e.title Наталия Киприянова
											+e.text.mono Наталия Киприянова Социокультурный облик российского купечества  (по материалам Уложенной комиссии 1767 г.)
							.swiper-scrollbar
	// end headerBlock
mixin headerBlock2()
	// start headerBlock
	+b.headerBlock--2&attributes(attributes)
		.container.p-0
			.row.g-0
				+e.text-wrap.bg-danger.col-lg-6
					+e.arrow-wrap
						+arrow
					+b.slider--text-js.swiper
						.swiper-wrapper
							- for (var x = 0; x < 4; x++)
								+e.slide.swiper-slide
									.section-title--js2
										+e.img
											+img('img/avatar-1.jpg')
										+e.title Евгений Крестьянников
										+e.subtile Доктор исторических наук, Тюменский государственный университет
										+e.text.mono Пространства vs&nbsp;империя: география и&nbsp;пути судебной власти Сибири в&nbsp;позднеимперский период
						.swiper-scrollbar
				.col-lg-6
					+b.slider--fade-js.swiper
						.swiper-wrapper
							- for (var x = 0; x < 4; x++)
								+e.slide--video.bg-wrap.swiper-slide(data-src='https://www.youtube.com/embed/L_LUpnjgPso' data-fancybox=`video-${x}`)
									+e.img-wrap
										+img("img/slide.jpg",'bg')
									+e.video-button
										+img('img/svg/play.svg')
	// end headerBlock