mixin sMaterials(data)
	// start sMaterials
	+b.SECTION.sMaterials.section#sMaterials&attributes(attributes)
		+e.row.row
			mixin item(i, title, text, date, ...items)
				.col-md-6.col-lg-4
					+e.item
						+img(`img/sMaterials-img-${i}.jpg`)
						+e.content 
							.h5!= title 
							+e.text(href="#")!= text
							+e.date!= date
							+e.inner-row.row
								each item in items
									+e.inner-col.col-auto
										+e.link(href="#")!= item
								+e.inner-col--js.col-auto
									+e.link--js: +icon('more-horizontal')
									+e.show-more
										+e.inner-row.row
											.col-auto
												+e.link(href="#") Управление
											.col-auto
												+e.link(href="#") Освоение
											.col-auto
												+e.link(href="#") Люди
											.col-auto
												+e.link(href="#") Пограничье
											.col-auto
												+e.link(href="#") Образы территории

			+item(1, 'Польское кино: визитные карточки', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', 'Европейский север', 'XVIII в.', 'Управление', 'Визуальное','Европейский север', 'XVIII в.', 'Управление', 'Визуальное')
	// end sMaterials