// start .sMaterials
.sMaterials {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row{
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(32)};
		margin-bottom: rem(40);
		&:last-child {
			margin-bottom: 0;
		}
	}
	.section-title{
		
	}
	&__col{
		@include media-breakpoint-down(md) {
			// height: auto !important;
			position: static !important;
		}
	}
	&__title {
		padding-bottom: rem(16);
		margin-bottom: rem(24);
		border-bottom: 1px solid $primary;
		display: flex;
		align-items: center;
		.icon {
			flex: 0 0 auto;
			font-size: rem(24);
			margin-right: rem(8);
			color: $primary;
			&-video, &-image {
				fill: none;
				stroke: currentColor;
				stroke-width: 1px;
			}
		}
		h4 {
			font-weight: 400;
			margin-bottom: 0;
		}
	}
	&__name {
		font-size: 11px;
		font-weight: 600;
		color: #888585;
		margin-bottom: 4px;
		text-transform: uppercase;
	}
	.pagination-wrapper {
		ul {
			justify-content: center;
		}
	}
	&--grid {
		--sPB: #{rem(20)};
		@include media-breakpoint-up(lg) {
			--sPB: #{rem(40)};
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sMaterials