mixin sMaterials(data)
	// start sMaterials
	+b.sMaterials.section#sMaterials&attributes(attributes)
			+e.title.row
				.col
					+e.headline
						+icon('folder')
						h4 Архивный фонд
				.col-auto.d-none.d-sm-block
					+e.link(href='#')
						| Все архивные фонды
						+icon('chevron-right')
			+e.row.row
				+sMaterialsItem('sMaterials-img-1.jpg', 'Польское кино: визитные карточки', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', '', 'true', 'Европейский север', 'XVIII в.', 'Управление', 'Визуальное', 'Визуальное')
					+sMaterialsTootlip('Архивный фонд', 'folder')
				+sMaterialsItem('sMaterials-img-2.jpg','Что мы знаем об этрусках', 'История загадочной цивилизации, которая была главным конкурентом древних римлян в Италии, а потом исчезла', '03 сентября 2022', '', '', 'Восточная Сибирь', 'Западная Сибирь', 'XX в. (до 1917 г.)', 'XX в. (1991 г. и позднее)')
					+sMaterialsTootlip('Архивный фонд', 'folder')
				+sMaterialsItem('sMaterials-img-3.jpg', 'Польское кино: визитные карточки', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '02 сентября', '', 'true', 'Европейский север', 'XVIII в.', 'Визуальные образы', 'Война', 'Управление', 'Визуальное')
					+sMaterialsTootlip('Архивный фонд', 'folder')
			+e.link.btn.btn-outline-primary(href='#').d-sm-none
				| Все архивные фонды
				+icon('chevron-right')
			+e.title.row
				.col
					+e.headline
						+icon('books')
						h4 Книги и исследования
				.col-auto.d-none.d-sm-block
					+e.link(href='#')
						| Все Книги и иследования
						+icon('chevron-right')
			+e.row.row
				+sMaterialsItem('sMaterials-img-4.png', 'Над пропастью во&nbsp;ржи', 'История загадочной цивилизации, которая была главным конкурентом древних римлян в&nbsp;Италии, а&nbsp;потом исчезла', '04 сентября 2022', 'Джером Сэлинджер', 'true', 'Юг', 'XVIII в.', 'Визуальное', 'Война')
					+sMaterialsTootlip('Книги и исследования', 'books')
				+sMaterialsItem('sMaterials-img-5.png', 'A Cultural History of Russia', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', 'Orlando Figes', 'true','Поволжье', 'Поволжье', 'Война')
					+sMaterialsTootlip('Книги и исследования', 'books')
				+sMaterialsItem('sMaterials-img-6.png', 'Вторжение: взгляд из России', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', 'Йозеф Паздерка', 'true', 'Поволжье', 'XVIII в.', 'Война')
					+sMaterialsTootlip('Книги и исследования', 'books')
			+e.link.btn.btn-outline-primary(href='#').d-sm-none
				| Все Книги и иследования
				+icon('chevron-right')
			+e.title.row
				.col
					+e.headline
						+icon('grid')
						h4 Лонгрид
				.col-auto.d-none.d-sm-block
					+e.link(href='#')
						| Все лонгриды
						+icon('chevron-right')
			+e.row.row
				+sMaterialsItem('sMaterials-img-7.jpg', 'Польское кино: визитные карточки', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', '', 'true', 'Европейский север', 'XVIII в.', 'XIX в. (первая половина)', 'Люди', 'Люди')
					+sMaterialsTootlip('Лонгрид', 'grid')
				+sMaterialsItem('sMaterials-img-8.jpg', 'Что мы знаем об этрусках', 'История загадочной цивилизации, которая была главным конкурентом древних римлян в&nbsp;Италии, а&nbsp;потом исчезла', '03 сентября 2022', '', 'true','Восточная Сибирь', 'Западная Сибирь', 'XX в. (до 1917 г.)', 'Освоение', 'Освоение')
					+sMaterialsTootlip('Лонгрид', 'grid')
				+sMaterialsItem('sMaterials-img-9.jpg', 'Польское кино: визитные карточки', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', '', 'true', 'Европейский север', 'Управление', 'Управление', 'Визуальное', 'Визуальное')
					+sMaterialsTootlip('Лонгрид', 'grid')
			+e.link.btn.btn-outline-primary(href='#').d-sm-none
				| Все лонгриды
				+icon('chevron-right')
			+e.title.row
				.col
					+e.headline
						+icon('video')
						h4 Видео
				.col-auto.d-none.d-sm-block
					+e.link(href='#')
						| Все видео
						+icon('chevron-right')
			+e.row.row
				+sMaterialsItem('sMaterials-img-10.jpg', 'Польское кино: визитные карточки', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', '', 'true', 'Европейский север', 'XVIII в.', 'Управление', 'Визуальное', 'Визуальное')
					+sMaterialsTootlip('Видео', 'video')
				+sMaterialsItem('sMaterials-img-11.jpg', 'Польское кино: визитные карточки', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', '', 'true', 'Азиатский север', 'Урал', 'XX в. (1917-1991 гг.)', 'Деньги', 'Деньги')
					+sMaterialsTootlip('Видео', 'video')
				+sMaterialsItem('sMaterials-img-12.jpg', 'Что мы знаем об этрусках', 'История загадочной цивилизации, которая была главным конкурентом древних римлян в&nbsp;Италии, а&nbsp;потом исчезла', '03 сентября 2022', '', 'true', 'Восточная Сибирь', 'Западная Сибирь', 'XX в. (до 1917 г.)', 'XX в. (1991 г. и позднее)')
					+sMaterialsTootlip('Видео', 'video')
			+e.link.btn.btn-outline-primary(href='#').d-sm-none
				| Все видео
				+icon('chevron-right')
			+e.title.row
				.col
					+e.headline
						+icon('image')
						h4 Альбом
				.col-auto.d-none.d-sm-block
					+e.link(href='#')
						| Все альбомы
						+icon('chevron-right')
			+e.row.row
				+sMaterialsItem('sMaterials-img-13.jpg', 'Польское кино: визитные карточки', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', '', 'true', 'Европейский север', 'XVIII в.', 'Управление', 'Визуальное', 'Визуальное')
					+sMaterialsTootlip('Альбом', 'image')
				+sMaterialsItem('sMaterials-img-14.jpg', 'Что мы знаем об этрусках', 'История загадочной цивилизации, которая была главным конкурентом древних римлян в&nbsp;Италии, а&nbsp;потом исчезла', '03 сентября 2022', '', 'true', 'Урал', 'Западная Сибирь', 'Кавказ', 'XX в. (1991 г. и позднее)')
					+sMaterialsTootlip('Альбом', 'image')
				+sMaterialsItem('sMaterials-img-15.jpg', 'Польское кино: визитные карточки', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', '', 'true', 'Европейский север', 'Европейский север', 'Люди', 'Деньги', 'Деньги')
					+sMaterialsTootlip('Альбом', 'image')
			+e.link.btn.btn-outline-primary(href='#').d-sm-none
				| Все альбомы
				+icon('chevron-right')
	// end sMaterials

mixin sMaterialsGrid(data)
	+b.sMaterials--grid.section&attributes(attributes)
		+e.row--js.row
			- for(let i = 0; i<6; i++)
				+sMaterialsItem('sMaterials-img-1.jpg', 'Польское кино: визитные карточки', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', '', 'true', 'Европейский север', 'XVIII в.', 'Управление', 'Визуальное', 'Визуальное').col--js
					+sMaterialsTootlip('Архивный фонд', 'folder')
				+sMaterialsItem('sMaterials-img-2.jpg','Что мы знаем об этрусках', 'История загадочной цивилизации, которая была главным конкурентом древних римлян в Италии, а потом исчезла', '03 сентября 2022', '', '', 'Восточная Сибирь', 'Западная Сибирь', 'XX в. (до 1917 г.)', 'XX в. (1991 г. и позднее)').col--js
					+sMaterialsTootlip('Архивный фонд', 'folder')
				+sMaterialsItem('sMaterials-img-3.jpg', 'Польское кино: визитные карточки', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '02 сентября', '', 'true', 'Европейский север', 'XVIII в.', 'Визуальные образы', 'Война', 'Управление', 'Визуальное').col--js
					+sMaterialsTootlip('Архивный фонд', 'folder')
		+pugin()