mixin sPersonality(data)
	// start sPersonality
	+b.SECTION.sPersonality.section#sPersonality&attributes(attributes)
		+e.avatar-row.row
			.col-lg-auto
				+e.avatar
					+img('img/main-avatar.jpg')
			.col-lg-auto
				+e.desc
					h1 #[span Энгельгардт ] Александр Николаевич
					.h4 Писатель, поэт, литературовед, публицист, видный деятель монархического движения.
					p Годы жизни: 21&nbsp;июля (2&nbsp;августа) 1832&ndash;21 января (2&nbsp;февраля) 1893 (60&nbsp;лет)
					+e.born Родился в&nbsp;Климово, Бельский уезд, Смоленская губерния, Российская империя
		+tags('Дальний Восток', 'XIX в. (первая половина)', 'XVIII в.', 'Пограничье', 'Образы территории', 'Управление')
		+e.content
			h2 Биография
			+e.paragraph
				p Александр Николаевич Энгельгардт до&nbsp;15-летнего возраста воспитывался в&nbsp;семье, а&nbsp;затем поступил на&nbsp;курсы офицеров при Михайловском артиллерийском училище. По&nbsp;окончании училища в&nbsp;1853 году он&nbsp;оборудовал свою домашнюю лабораторию, в&nbsp;которой ставил опыты по&nbsp;органической химии. Он&nbsp;также посещал лекции академика Н. Н.&nbsp;Зинина в&nbsp;медико-хирургической академии и&nbsp;самостоятельно штудировал только что появившуюся книгу Жерара &laquo;Введение в&nbsp;изучение органической химии&raquo;, отражавшую новейшие научные взгляды в&nbsp;этой области знаний.
				p После посещения уральских горных заводов осенью 1853 года поступил на&nbsp;службу в&nbsp;литейную мастерскую Петербургского арсенала, а&nbsp;в&nbsp;1855 году предпринял поездку за&nbsp;границу для изучения сталелитейного производства на&nbsp;заводах немецкого промышленника Круппа.
				p В&nbsp;1854 году в&nbsp;&laquo;Артиллерийском журнале&raquo; опубликовал первую свою работу &laquo;О&nbsp;гомолактинной кислоте, образующейся при добывании гремучекислой ртути&raquo;, а&nbsp;в&nbsp;1855 году в&nbsp;записках Академии наук появляются сразу три его работы по&nbsp;химии, написанные по&nbsp;результатам опытов, выполненных в&nbsp;домашней лаборатории.
			+b.mediaContent
				+e.img-wrap
					+img('img/sPersonality-img-1.jpg')
				span Русское химическое общество. А.&nbsp;Н.&nbsp;Энгельгардт сидит крайний (подписи Д.&nbsp;И.&nbsp;Менделеева), 1868
			+e.paragraph
				p Преподавал химию в&nbsp;Александровском лицее.
				p В&nbsp;1857 году он&nbsp;вместе с&nbsp;Н.&nbsp;Н.&nbsp;Соколовым основал частную химическую лабораторию, а&nbsp;в&nbsp;1859 году учредил и&nbsp;редактировал первый научный русский журнал по&nbsp;химии &laquo;Химический журнал Н.&nbsp;Соколова и&nbsp;А.&nbsp;Энгельгардта&raquo;. В&nbsp;этом журнале, помимо издателей, печатали свои работы Д.&nbsp;И.&nbsp;Менделеев, А.&nbsp;М. Бутлеров и&nbsp;другие ученые. За&nbsp;период 1857&ndash;1870&nbsp;гг. А.&nbsp;Н.&nbsp;Энгельгардт опубликовал около пятидесяти работ по&nbsp;органической химии и&nbsp;артиллерийскому делу, а&nbsp;также издал &laquo;Сборник общепонятных статей по&nbsp;естествознанию&raquo; (1867).
				p В&nbsp;1864 году он&nbsp;был назначен профессором химии во&nbsp;вновь открытый Петербургский земледельческий институт. В&nbsp;то&nbsp;время его научные интересы начали всё более склоняться к&nbsp;вопросам агрономической химии. Он&nbsp;разработал предложенный П.&nbsp;А.&nbsp;Ильенковым щелочной метод разложения костей и&nbsp;пропагандировал местное хозяйственное производство фосфорных удобрений взамен кислотной переработки костей на&nbsp;суперфосфат. По&nbsp;поручению департамента земледелия А.&nbsp;Н.&nbsp;Энгельгардт в&nbsp;1866 году обследовал залежи фосфоритов в&nbsp;Смоленской, Курской, Орловской и&nbsp;Воронежской губерниях и&nbsp;произвёл анализы русских фосфоритов.
				p В&nbsp;Земледельческом институте он&nbsp;устроил образцовую химическую лабораторию, которая была гордостью института. В&nbsp;это&nbsp;же время читал в&nbsp;Сельскохозяйственном музее публичные лекции, изданные впоследствии отдельной книгой под названием &laquo;Химические основы земледелия&raquo; (1875). А.&nbsp;Н.&nbsp;Энгельгардт перевёл также книги Крокера &laquo;Руководство к&nbsp;сельскохозяйственному анализу&raquo; (1867) и&nbsp;Гофмана &laquo;Земледельческая химия&raquo; (1868).
				p За&nbsp;работы по&nbsp;химии Харьковский университет присвоил А.&nbsp;Н.&nbsp;Энгельгардту степень доктора химии, а&nbsp;Академия наук присудила ему и&nbsp;П.&nbsp;А.&nbsp;Лачинову Ломоносовскую премию (1870) за&nbsp;работу &laquo;О&nbsp;крезолах и&nbsp;нитросоединениях&raquo;.
				p В&nbsp;связи со&nbsp;студенческими волнениями был арестован (1870) и&nbsp;выслан в&nbsp;Батищево (1871).
			+e.title.h4 Библиография
			ul
				li Энгельгардт А. Н. Из деревни: 12 писем, 1872–1887.
				li Энгельгардт А. Н. Из деревни: 12 писем, 1872–1887. 
				li Энгельгардт А. Н. Из деревни: 12 писем, 1872–1887. 
			+e.paragraph
				p А.&nbsp;Н.&nbsp;Энгельгардт оставил по&nbsp;себе добрую память не&nbsp;только как ученый, не&nbsp;только как талантливый, образованный и&nbsp;умный писатель, но&nbsp;и&nbsp;как человек, воодушевленный лучшими стремлениями и&nbsp;горячей любовью к&nbsp;своей Отчизне, к&nbsp;родной смоленской земле.
				p На&nbsp;земле, где жил и&nbsp;трудился А.&nbsp;Н.&nbsp;Энгельгардт, к&nbsp;нашему времени не&nbsp;осталось внешне приметных достопри&shy;мечательностей, какие мы&nbsp;еще можем видеть в&nbsp;других кое-как сохранившихся усадьбах, но&nbsp;осталась о&nbsp;нем память у&nbsp;последующих поколений и&nbsp;земля, которая верно хранит эту память. Это и&nbsp;пруды, хотя и&nbsp;запущенные, но&nbsp;и&nbsp;спустя столько лет еще сохранившие свою былую прелесть, сверкающие чистой родниковой водой, и&nbsp;отдельные, дожившие до&nbsp;наших дней старые дубы и&nbsp;липы.
			+b.mediaContent.mb-lg-0
				mixin slide(i)
					+e.slide.swiper-slide
						+e.item
							+img(`img/sAbout-img-${i}.jpg`, `bg`)
				+e.slider--js.swiper
					.swiper-wrapper
						+slide(2)
						+slide(1)
						+slide(2)
						+slide(1)
					+e.control-wrap
						.swiper-scrollbar
						+arrow()
				span Description
			+soc()
				//- +item-sos('tg')
				//- +item-sos('vk')
	// end sPersonality