extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sRegions/_sRegions.pug
include ../blocks/footer/_footer.pug
include ../blocks/sSimilar/_sSimilar.pug
include ../blocks/sAnnotation/_sAnnotation.pug

block variables
	- let  mainPage= 'books-and-studies-page' 
	- let  bg= '10-1-books-and-studies.jpg'

block title
	- let  title= '10-1 Книги и исследования '
	title= title
block pagecontent
	//- +mob-mnu()
	
	+header
		+topLine
		+top-nav()
	+breadcrumb('Главная', 'Материалы', 'Над пропастью во ржи')
	+headerBlock(true, true, 'Джером Сэлинджер', 'Над пропастью во ржи', '03 сентября 2022', 'История загадочной цивилизации, которая была главным конкурентом древних римлян в Италии, а потом исчезла')
	+tags('Центр', 'Поволжье', 'XIX в', 'Пограничье', 'Образы территории', 'Управление', 'Управление', 'Визуальное').--longreed
	.main-block.main-block--simple
		+sAnnotation
		+sSimilar
			+sMaterialsItem('sMaterials-img-4.png', 'Над пропастью во&nbsp;ржи', 'История загадочной цивилизации, которая была главным конкурентом древних римлян в&nbsp;Италии, а&nbsp;потом исчезла', '04 сентября 2022', 'Джером Сэлинджер', 'Юг', 'XVIII в.', 'Визуальное', 'Война')
				+sMaterialsTootlip('Книги и исследования', 'books')
			+sMaterialsItem('sMaterials-img-5.png', 'A Cultural History of Russia', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', 'Orlando Figes', 'Поволжье', 'Поволжье', 'Война')
				+sMaterialsTootlip('Книги и исследования', 'books')
			+sMaterialsItem('sMaterials-img-6.png', 'Вторжение: взгляд из России', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', 'Йозеф Паздерка', 'Поволжье', 'XVIII в.', 'Война')
				+sMaterialsTootlip('Книги и исследования', 'books')
	+footer()
      



