extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sRegions/_sRegions.pug
include ../blocks/footer/_footer.pug
include ../blocks/sRegionsContent/_sRegionsContent.pug
include ../blocks/sMaterials/_sMaterials.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '6-1-regions.jpg'

block title
	- let  title= '6-1 Регионы'
	title= title
block pagecontent
	//- +mob-mnu()
	
	+header
		+topLine
		+top-nav()
	+sRegionsContent
	+footer()
      



