extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sRegions/_sRegions.pug
include ../blocks/footer/_footer.pug
include ../blocks/sPersonality/_sPersonality.pug

block variables
	- let  mainPage= 'personality-page' 
	- let  bg= '7-1-personality.jpg'

block title
	- let  title= '7-1 Личность'
	title= title
block pagecontent
	//- +mob-mnu()
	
	+header
		+topLine
		+top-nav()
	+breadcrumb('Главная', 'Персоналии', 'Энгельгардт Александр Николаевич')
	+main-page-head('page-head-bg-5.jpg')
	.main-block.container
		+sPersonality
	+footer()
      



