mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.container
			+e.row.row
				.col.d-none.d-lg-block
					+img("img/logo-1.svg")
				+e.col.col-auto
					a(href="#") 
						+img("img/logo-center.svg")
						+e.text Регионы России  
							span в&nbsp;исторической перспективе
				.col.text-end.d-none.d-lg-block
					+img("img/logo-2.svg")
				.col-auto.d-lg-none.ms-auto
					+b.search-toggle--js
						+icon("search")
				.col-auto.d-lg-none
					+menu-toggle()
		.d-block.d-lg-none
			+search()
	// end topLine