mixin sSpecialProjects(data)
	// start sSpecialProjects
	+b.sSpecialProjects.section#sSpecialProjects&attributes(attributes)
		+e.row.row
			+sMaterialsItemSecond('slide.jpg', 'Социокультурный облик российского купечества (по&nbsp;материалам Уложенной комиссии 1767&nbsp;г.)', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04&nbsp;сентября 2022г.', '', 'Европейский север', 'XIX в. (первая половина)', 'Люди', 'Люди')
				+sMaterialsTootlip('Архивный фонд', 'folder')
			+sMaterialsItemSecond('slide-2.jpg', 'Капиталистые крестьяне', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04 сентября 2022г.', '' , 'Урал', 'Поволжье', 'XX в. (до 1917 г.)', 'Урал')
				+sMaterialsTootlip('Видео', 'video')
			//- +sMaterialsItemSecond('slide-3.png', 'The Age of Wild Ghosts: Memory, Violence, and Place in Southwestern China', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04 сентября 2022г.', 'Erik Mueggler', 'Европейский север', 'XX в. (1917-1991 гг.)', 'Пограничье')
			+e.col.col-12.col-md-6(data-aos="fade-up")
				+b.sMaterials-item--second
						+sMaterialsTootlip('Книги и исследования', 'books')
						+e.img-wrap-bg.vertical
							img(src=`https://hse.bitrix67.ru/upload/resize_cache/iblock/84a/640_407_1/tpxzoz3v6y0uli9bbnzlt63macsilfms.jpeg` alt="image")
						+e.content 
							+e.name Erik Mueggler
							.h5.mono The Age of Wild Ghosts: Memory, Violence, and Place in Southwestern China
							+e.text(href="#") Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.
							+e.date 04 сентября 2022г.
							+tags('Erik Mueggler', 'Европейский север', 'XX в. (1917-1991 гг.)', 'Пограничье')
				+sMaterialsTootlip('Книги и исследования', 'books')
			+sMaterialsItemSecond('slide-4.jpg', 'Шесть книг о&nbsp;&laquo;Золотом кольце&raquo;', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04 сентября 2022г.', '', 'Поволжье', 'XIX в. (первая половина)', 'Освоение', 'Освоение', 'Освоение')
				+sMaterialsTootlip('Архивный фонд', 'folder')
			+sMaterialsItemSecond('slide-5.jpg', 'Социокультурный облик российского купечества (по&nbsp;материалам Уложенной комиссии 1767&nbsp;г.)', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04 сентября 2022г.', '', 'Поволжье', 'XVIII в.', 'Люди')
				+sMaterialsTootlip('Альбом', 'image')
			+sMaterialsItemSecond('slide-6.png', 'История одного немца. Частный человек против тысячелетнего рейха. ИД&nbsp;Ивана Лимбаха, 2018', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04 сентября 2022г.', 'Себастьян Хафнер', 'Юг', 'XX в. (1917-1991 гг.)', 'Пограничье')
				+sMaterialsTootlip('Книги и исследования', 'books')
			+sMaterialsItemSecond('slide-7.jpg', 'Обычный род: из&nbsp;биографии смоленских Нееловых', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04 сентября 2022г.', '', 'Урал', 'XIX в. (первая половина)', 'Освоение')
				+sMaterialsTootlip('Архивный фонд', 'folder')
			+sMaterialsItemSecond('slide-8.jpg', 'Шесть книг о&nbsp;&laquo;Золотом кольце&raquo;', 'Лекции Дениса Вирена о ключевых эпохах и явлениях в истории кинематографа Польши, а также идеальный польский телевизор.', '04 сентября 2022г.', 'Галина Егорова', 'Европейский север', 'XVIII в.', 'Люди')
				+sMaterialsTootlip('Книги и исследования', 'books')
			+sMaterialsItemSecond('slide-2.jpg', 'Капиталистые крестьяне', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04 сентября 2022г.', '' , 'Урал', 'Поволжье', 'XX в. (до 1917 г.)', 'Урал')
				+sMaterialsTootlip('Видео', 'video')
			+sMaterialsItemSecond('slide.jpg', 'Социокультурный облик российского купечества (по&nbsp;материалам Уложенной комиссии 1767&nbsp;г.)', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04&nbsp;сентября 2022г.', '', 'Европейский север', 'XIX в. (первая половина)', 'Люди', 'Люди')
				+sMaterialsTootlip('Архивный фонд', 'folder')
			+sMaterialsItemSecond('slide-4.jpg', 'Шесть книг о&nbsp;&laquo;Золотом кольце&raquo;', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04 сентября 2022г.', '', 'Поволжье', 'XIX в. (первая половина)', 'Освоение', 'Освоение', 'Освоение')
				+sMaterialsTootlip('Архивный фонд', 'folder')
			+sMaterialsItemSecond('slide-3.png', 'The Age of Wild Ghosts: Memory, Violence, and Place in Southwestern China', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04 сентября 2022г.', 'Erik Mueggler', 'Европейский север', 'XX в. (1917-1991 гг.)', 'Пограничье')
				+sMaterialsTootlip('Книги и исследования', 'books')
			+sMaterialsItemSecond('slide-6.png', 'История одного немца. Частный человек против тысячелетнего рейха. ИД&nbsp;Ивана Лимбаха, 2018', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04 сентября 2022г.', 'Себастьян Хафнер', 'Юг', 'XX в. (1917-1991 гг.)', 'Пограничье')
				+sMaterialsTootlip('Книги и исследования', 'books')
			+sMaterialsItemSecond('slide-5.jpg', 'Социокультурный облик российского купечества (по&nbsp;материалам Уложенной комиссии 1767&nbsp;г.)', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04 сентября 2022г.', '', 'Поволжье', 'XVIII в.', 'Люди')
				+sMaterialsTootlip('Альбом', 'image')
			+sMaterialsItemSecond('slide-7.jpg', 'Обычный род: из&nbsp;биографии смоленских Нееловых', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04 сентября 2022г.', '', 'Урал', 'XIX в. (первая половина)', 'Освоение')
				+sMaterialsTootlip('Архивный фонд', 'folder')
			+sMaterialsItemSecond('slide-8.jpg', 'Шесть книг о&nbsp;&laquo;Золотом кольце&raquo;', 'Лекции Дениса Вирена о ключевых эпохах и явлениях в истории кинематографа Польши, а также идеальный польский телевизор.', '04 сентября 2022г.', 'Галина Егорова', 'Европейский север', 'XVIII в.', 'Люди')
				+sMaterialsTootlip('Книги и исследования', 'books')
		+pugin 
	// end sSpecialProjects