mixin sSpecialProjects(data)
	// start sSpecialProjects
	+b.SECTION.sSpecialProjects.section#sSpecialProjects&attributes(attributes)
		+e.row.row
			+sMaterialsItemSecond('slide.jpg', 'Социокультурный облик российского купечества (по&nbsp;материалам Уложенной комиссии 1767&nbsp;г.)', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор.', '04&nbsp;сентября 2022г.', '', 'Европейский север', 'XIX в. (первая половина)', 'Люди')
				+sMaterialsTootlip('Архивный фонд', 'folder')
	// end sSpecialProjects