mixin sSearch(data)
	// start sSearch
	+b.SECTION.sSearch.section#sSearch&attributes(attributes)
		mixin item(imgCenter, img, title, text, date, name, ...items)
			+e.item&attributes(attributes)(data-aos="fade-up")
				+e.row.row
					+e.col.col-md.order-2.order-md-1
						+e.content 
							if name
								+e.name!= name
							a.h3(href="#")!= title
							p!= text
							if date
								+e.date!= date
							+tags(...items)
					.col-md-auto.order-1.order-md-2
						+e.img-wrap
							if imgCenter
								.img-wrap-center
									+img(`img/${imgCenter}`)
							else 
								+img(`img/${img}`)
							block
		+e.wrap
			h1 Поиск
			+form-wrap
				+input('', 'text')
				button.btn
					+icon('search')
			+e.found Найдено 106 совпадений
			+e.tabs-slider--js.tabs.swiper
				+e.tabs-caption.tabs__caption.swiper-wrapper
					+e.tabs-btn.tabs__btn.swiper-slide.active Все разделы
					+e.tabs-btn.tabs__btn.swiper-slide Архивный фонд
					+e.tabs-btn.tabs__btn.swiper-slide Книги и Исследования
					+e.tabs-btn.tabs__btn.swiper-slide Лонгрид
					+e.tabs-btn.tabs__btn.swiper-slide Видео
					+e.tabs-btn.tabs__btn.swiper-slide Альбом
					+e.tabs-btn.tabs__btn.swiper-slide Персоналии
				+e.tabs-content.tabs__content.active
					+item('', 'sMaterials-img-1.jpg', 'Кино: визитные карточки Аляски', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo;', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
						+sMaterialsTootlip('Архивный фонд', 'folder')
					+item('book-1.png', '', 'Над пропастью в&nbsp;Аляске', 'Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', 'Джером Сэлинджер', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Визуальное')
						+sMaterialsTootlip('Книги и исследования', 'books')
					+item('avatar-12.jpg', '', 'Аляска Александр Николаевич', '1832–1893гг.', '', '', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Визуальное').--img-rounded
					+item('', 'sMaterials-img-13.jpg', 'Что мы знаем об Аляске', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo;', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
						+sMaterialsTootlip('Альбом', 'image')
					+item('', 'sMaterials-img-10.jpg', '«Русская Аляска» после продажи', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
						+sMaterialsTootlip('Видео', 'video')
					+item('', 'sMaterials-img-7.jpg', 'Что мы знаем об искусстве Аляски', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
						+sMaterialsTootlip('Лонгрид', 'grid')
					+item('', 'sMaterials-img-15.jpg', 'Кино: визитные карточки Аляски', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
						+sMaterialsTootlip('Архивный фонд', 'folder')
					+item('', 'sMaterials-img-6.png', 'Над пропастью в Аляске', 'Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', 'Джером Сэлинджер', 'Северо-Запад', 'XVIII в.', 'Управление', 'Визуальное')
						+sMaterialsTootlip('Книги и исследования', 'books')
					+item('avatar-19.jpg', '', 'Аляска Александр Николаевич', '1832–1893гг.', '', '', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Визуальное').--img-rounded
					+item('', 'sMaterials-img-9.jpg', 'Что мы знаем об Аляске', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
						+sMaterialsTootlip('Альбом', 'image')
					+item('', 'sAbout-img-2.jpg', '«Русская Аляска» после продажи', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
						+sMaterialsTootlip('Видео', 'video')
					+item('', 'slide-4.jpg', 'Что мы знаем об искусстве Аляски', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo;', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
						+sMaterialsTootlip('Лонгрид', 'grid')
					+item('', 'sMaterials-img-11.jpg', 'Что мы знаем об Аляске', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
						+sMaterialsTootlip('Альбом', 'image')
					+item('', 'sMaterials-img-16.jpg', '«Русская Аляска» после продажи', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
						+sMaterialsTootlip('Видео', 'video')
					+item('', 'sMaterials-img-1.jpg', 'Что мы знаем об искусстве Аляски', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
						+sMaterialsTootlip('Лонгрид', 'grid')
					+pugin()
				- for(i = 1; i <= 6; i++)
					+e.tabs-content.tabs__content
						+item('', 'sMaterials-img-1.jpg', 'Кино: визитные карточки Аляски', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo;', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
							+sMaterialsTootlip('Архивный фонд', 'folder')
						+item('book-1.png', '', 'Над пропастью в&nbsp;Аляске', 'Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', 'Джером Сэлинджер', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Визуальное')
							+sMaterialsTootlip('Книги и исследования', 'books')
						+item('avatar-12.jpg', '', 'Аляска Александр Николаевич', '1832–1893гг.', '', '', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Визуальное').--img-rounded
						+item('', 'sMaterials-img-13.jpg', 'Что мы знаем об Аляске', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo;', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
							+sMaterialsTootlip('Альбом', 'image')
						+item('', 'sMaterials-img-10.jpg', '«Русская Аляска» после продажи', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
							+sMaterialsTootlip('Видео', 'video')
						+item('', 'sMaterials-img-7.jpg', 'Что мы знаем об искусстве Аляски', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
							+sMaterialsTootlip('Лонгрид', 'grid')
						+item('', 'sMaterials-img-15.jpg', 'Кино: визитные карточки Аляски', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
							+sMaterialsTootlip('Архивный фонд', 'folder')
						+item('', 'sMaterials-img-6.png', 'Над пропастью в Аляске', 'Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»; и&nbsp;топ главных польских фильмов по&nbsp;мнению Дэвида Линча и&nbsp;Мартина Скорсезе', '04 сентября 2022', 'Джером Сэлинджер', 'Северо-Запад', 'XVIII в.', 'Управление', 'Визуальное')
							+sMaterialsTootlip('Книги и исследования', 'books')
						+item('avatar-19.jpg', '', 'Аляска Александр Николаевич', '1832–1893гг.', '', '', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Визуальное').--img-rounded
						+item('', 'sMaterials-img-9.jpg', 'Что мы знаем об Аляске', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
							+sMaterialsTootlip('Альбом', 'image')
						+item('', 'sAbout-img-2.jpg', '«Русская Аляска» после продажи', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
							+sMaterialsTootlip('Видео', 'video')
						+item('', 'slide-4.jpg', 'Что мы знаем об искусстве Аляски', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма &laquo;Ва-банк&raquo;', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
							+sMaterialsTootlip('Лонгрид', 'grid')
						+item('', 'sMaterials-img-11.jpg', 'Что мы знаем об Аляске', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
							+sMaterialsTootlip('Альбом', 'image')
						+item('', 'sMaterials-img-16.jpg', '«Русская Аляска» после продажи', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
							+sMaterialsTootlip('Видео', 'video')
						+item('', 'sMaterials-img-1.jpg', 'Что мы знаем об искусстве Аляски', 'Лекции Дениса Вирена о&nbsp;ключевых эпохах и&nbsp;явлениях в&nbsp;истории кинематографа Польши, а&nbsp;также идеальный польский телевизор, путеводитель по&nbsp;Польше 1930-х на&nbsp;примере фильма «Ва-банк»', '04 сентября 2022', '', 'Поволжье', 'Юг', 'XX в. (до 1917 г.)', 'Управление', 'Управление', 'Визуальное')
							+sMaterialsTootlip('Лонгрид', 'grid')
						+pugin()
	// end sSearch

mixin sSearchNothing(data)
	// start sSearch
	+b.SECTION.sSearch.section#sSearch&attributes(attributes)
		+e.wrap
			h1 Поиск
			+form-wrap
				+input('', 'text')
				button.btn
					+icon('search')
			+e.found--nothing
				+e.found-title Ничего не найдено.
				+e.found-text Пожалуйста, введите другой или скорректируйте текущий поисковой запрос.