mixin sAlbum(data)
	// start sAlbum
	+b.sAlbum.section#sAlbum&attributes(attributes)
		+b.section-title
			p Отрывок из&nbsp;книги Наталии Киприяновой &laquo;Социокультурный облик российского купечества (по&nbsp;материалам Уложенной комиссии 1767&nbsp;г.)&raquo; (Владимир.: Изд-во &laquo;Нива&raquo;, 2011). Книга посвящена преставлениям купечества о&nbsp;собственном социальном статусе, основах предпринимательской деятельности, государственной власти и&nbsp;местного управления. Колоссальность пространства, которое занимала Россия в&nbsp;середине XVIII&nbsp;в., предопределила своеобразие природных и&nbsp;экономических условий развития ее&nbsp;регионов. Часть районов была включена в&nbsp;состав Российской империи относительно недавно, в&nbsp;XVII&nbsp;&mdash; первой половине XVIII&nbsp;вв., сохранив особенности своего исторического прошлого.
			p Колоссальность пространства, которое занимала Россия в&nbsp;середине XVIII&nbsp;в., предопределила своеобразие природных и&nbsp;экономических условий развития ее&nbsp;регионов. Часть районов была включена в&nbsp;состав Российской империи относительно недавно, в&nbsp;XVII&nbsp;&mdash; первой половине XVIII&nbsp;вв., сохранив особенности своего исторического прошлого. Эти отличия (географические, экономические, исторические) оказали определенное воздействие на&nbsp;формирование образа жизни, мировоззрения и&nbsp;мировосприятия купечества, проживающего на&nbsp;данных территориях. Выявление региональных характеристик социокультурного облика купечества поможет наполнить конкретно-историческим содержанием процесс становления сословия и&nbsp;позволяет реально представить тот комплекс проблем и&nbsp;противоречий, которые способствовали его консолидации, или, наоборот, задерживали.
		+tags('Центр', 'XIX в. (вторая половина)', 'Люди', 'Пограничье', 'Образы территории', 'Управление', 'Война')
		+e.row.row
			mixin item(img,  text)
				.col-sm-6.col-md-4(data-aos="fade-up")
					+e.item(href="#" data-src=`img/${img}` data-fancybox="gallery-with-caption" data-info="Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова")
						+e.img-wrap
							.img-wrap-center
								+img(`img/${img}`)
						if text
							+e.text!= text
			+item('image-lg-1.png', 'Колоссальность пространства, которое занимала Россия')
			+item('image-lg-2.png')
			+item('image-lg-3.png', 'Книга посвящена преставлениям купечества')
			+item('image-lg-4.png')
			+item('image-lg-5.png')
			+item('image-lg-6.png')
			+item('image-lg-3.png', 'Россия в середине XVIII в')
			+item('image-lg-1.png', 'Книга посвящена преставлениям купечества')
			+item('image-lg-2.png')
			+item('image-lg-6.png')
			+item('image-lg-4.png')
			+item('image-lg-5.png')
			+item('image-lg-1.png', 'Часть районов была включена в состав Российской империи')
			+item('image-lg-2.png')
			+item('image-lg-3.png', 'Россия в середине XVIII в')
			+item('image-lg-4.png')
			+item('image-lg-5.png')
			+item('image-lg-6.png')
			+item('image-lg-3.png', 'Книга посвящена преставлениям купечества')
			+item('image-lg-1.png', 'Часть районов была включена в состав Российской империи')
			+item('image-lg-2.png')
			+item('image-lg-6.png')
			+item('image-lg-4.png')
			+item('image-lg-5.png')
			+item('image-lg-1.png', 'Часть районов была включена в состав Российской империи')
			+item('image-lg-2.png')
			+item('image-lg-3.png', 'Книга посвящена преставлениям купечества')
			+item('image-lg-4.png')
			+item('image-lg-5.png')
			+item('image-lg-6.png')
			+item('image-lg-3.png', 'Россия в середине XVIII в')
			+item('image-lg-6.png', 'Часть районов была включена в состав Российской империи')
			+item('image-lg-2.png')
			+item('image-lg-6.png')
			+item('image-lg-4.png')
			+item('image-lg-5.png')
		+soc()
			//- +item-sos('tg')
			//- +item-sos('vk')
		+pugin()
	// end sAlbum