mixin sAlbum(data)
	// start sAlbum
	+b.sAlbum.section#sAlbum&attributes(attributes)
		+b.section-title
			p Отрывок из&nbsp;книги Наталии Киприяновой &laquo;Социокультурный облик российского купечества (по&nbsp;материалам Уложенной комиссии 1767&nbsp;г.)&raquo; (Владимир.: Изд-во &laquo;Нива&raquo;, 2011). Книга посвящена преставлениям купечества о&nbsp;собственном социальном статусе, основах предпринимательской деятельности, государственной власти и&nbsp;местного управления. Колоссальность пространства, которое занимала Россия в&nbsp;середине XVIII&nbsp;в., предопределила своеобразие природных и&nbsp;экономических условий развития ее&nbsp;регионов. Часть районов была включена в&nbsp;состав Российской империи относительно недавно, в&nbsp;XVII&nbsp;&mdash; первой половине XVIII&nbsp;вв., сохранив особенности своего исторического прошлого.
			p Колоссальность пространства, которое занимала Россия в&nbsp;середине XVIII&nbsp;в., предопределила своеобразие природных и&nbsp;экономических условий развития ее&nbsp;регионов. Часть районов была включена в&nbsp;состав Российской империи относительно недавно, в&nbsp;XVII&nbsp;&mdash; первой половине XVIII&nbsp;вв., сохранив особенности своего исторического прошлого. Эти отличия (географические, экономические, исторические) оказали определенное воздействие на&nbsp;формирование образа жизни, мировоззрения и&nbsp;мировосприятия купечества, проживающего на&nbsp;данных территориях. Выявление региональных характеристик социокультурного облика купечества поможет наполнить конкретно-историческим содержанием процесс становления сословия и&nbsp;позволяет реально представить тот комплекс проблем и&nbsp;противоречий, которые способствовали его консолидации, или, наоборот, задерживали.
		+tags('Центр', 'XIX в. (вторая половина)', 'Люди', 'Пограничье', 'Образы территории', 'Управление', 'Война')
		+e.row.row
			mixin item(img,  text, info)
				.col-sm-6.col-md-4(data-aos="fade-up")
					+e.item(href="#" data-src=`img/${img}` data-fancybox="gallery-with-caption" data-info=info)
						+e.img-wrap
							.img-wrap-center
								+img(`img/${img}`)
						if text
							+e.text!= text
			+item('image-lg-1.png', 'Колоссальность пространства, которое занимала Россия', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова')
			+item('image-lg-2.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова1')
			+item('image-lg-3.png', 'Книга посвящена преставлениям купечества', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова2')
			+item('image-lg-4.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова3')
			+item('image-lg-5.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова4')
			+item('image-lg-6.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова5')
			+item('image-lg-3.png', 'Россия в середине XVIII в', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова5')
			+item('image-lg-1.png', 'Книга посвящена преставлениям купечества', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова6')
			+item('image-lg-2.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова7')
			+item('image-lg-6.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова8')
			+item('image-lg-4.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова9')
			+item('image-lg-5.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова10')
			+item('image-lg-1.png', 'Часть районов была включена в состав Российской империи', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова11')
			+item('image-lg-2.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова12')
			+item('image-lg-3.png', 'Россия в середине XVIII в', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова13')
			+item('image-lg-4.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова14')
			+item('image-lg-5.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова15')
			+item('image-lg-6.png','', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова16')
			+item('image-lg-3.png', 'Книга посвящена преставлениям купечества', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова17')
			+item('image-lg-1.png', 'Часть районов была включена в состав Российской империи', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова18')
			+item('image-lg-2.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова19')
			+item('image-lg-6.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова20')
			+item('image-lg-4.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова21')
			+item('image-lg-5.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова22')
			+item('image-lg-1.png', 'Часть районов была включена в состав Российской империи', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова23')
			+item('image-lg-2.png','', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова24')
			+item('image-lg-3.png', 'Книга посвящена преставлениям купечества', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова25')
			+item('image-lg-4.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова26')
			+item('image-lg-5.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова27')
			+item('image-lg-6.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова28')
			+item('image-lg-3.png', 'Россия в середине XVIII в', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова28')
			+item('image-lg-6.png', 'Часть районов была включена в состав Российской империи', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова29')
			+item('image-lg-2.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова30')
			+item('image-lg-6.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова31')
			+item('image-lg-4.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова32')
			+item('image-lg-5.png', '', 'Трудовые будни героев Пушкина, Лермонтова, Гоголя и Грибоедова33')
		+soc()
			//- +item-sos('tg')
			//- +item-sos('vk')
		+pugin()
	// end sAlbum